.Container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* Cada card tem no mínimo 300px, mas pode crescer */

  padding: 20px;
  margin: 10px;
}
.content {
  text-align: center;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente para o conteúdo */
  border-radius: 15px; /* Bordas mais arredondadas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave ao redor do conteúdo */
  width: 100%;
  max-width: 600px; /* Limita a largura máxima da área do conteúdo */
}

/* Erro */
.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.1rem;
}

/* Estilo de botões e inputs */
input, button {
  width: 100%; /* Faz os inputs e botões ficarem com a largura total */
  margin-bottom: 15px;
  padding: 10px; /* Adiciona mais espaço dentro dos inputs e botões */
  border-radius: 5px; /* Arredondamento das bordas */
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  transition: all 0.3s ease; /* Transição suave para hover e foco */
}

/* Hover nos botões */
button:hover, input:focus {
  background-color: #ff7e5f; /* Cor de fundo ao passar o mouse */
  border-color: #feb47b; /* Cor da borda ao focar */
  color: white; /* Texto branco */
}

/* Responsividade */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .content {
    padding: 30px; /* Menos padding em telas pequenas */
  }

  input, button {
    padding: 12px; /* Um pouco mais de padding nos inputs e botões em telas pequenas */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  .content {
    padding: 20px; /* Reduzindo o padding no conteúdo em telas bem pequenas */
  }
s
  input, button {
    padding: 10px; /* Ajuste de padding para telas ainda menores */
  }
}

