body {
  
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Gradiente de roxo e azul */
    min-height: 100vh; /* Garante que o fundo cubra toda a altura da página */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px; /* Espaçamento interno para garantir que não fique muito colado nas bordas */
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
